# Ignored directories
.env/
ddc/
models/
plots/
reports/
sdf/
synth/
tmp/
__pycache__/
# Ignored files
report_summary.csv
results.xml
tools.sh
# Directories
src/sim_build/
# Ignored soft links
models
